In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import numpy as np

In [2]:
df = pd.read_csv('financial_review.csv', sep=',')
df

,bank_href,login,review,bank_name,site,date,message_href,score,status,user_href
0,/kredit-evropa-bank.html,NaN,"Брал кредит в данной организации, после погаше...",кредит европа банк,http://bankireview.ru,NaN,NaN,NaN,NaN,NaN
1,/kredit-evropa-bank.html,NaN,"В 2011 году,мною была оформлена мега карта в Т...",кредит европа банк,http://bankireview.ru,NaN,NaN,NaN,NaN,NaN
2,/kredit-evropa-bank.html,NaN,С родителями увидели рекламу вклада Осеннее пр...,кредит европа банк,http://bankireview.ru,NaN,NaN,NaN,NaN,NaN
3,/kredit-evropa-bank.html,NaN,Связать три года своей жизни с этим непорядочн...,кредит европа банк,http://bankireview.ru,NaN,NaN,NaN,NaN,NaN
4,/kredit-evropa-bank.html,NaN,"Пользуюсь месяц карточкой Card Plus, сегодня п...",кредит европа банк,http://bankireview.ru,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
23805,/bank/bank-chbrr/,"Василий,",Работа касс отвратительнаяПри наличии большой ...,банк чбрр,https://www.sravni.ru,"18 дек, 2018",/bank/bank-chbrr/otzyv/305639/?page,1,NaN,NaN
23806,/bank/primore/,"Дмитрий,",Проблемы с переводом за границу.Решил приобрес...,банк приморье,https://www.sravni.ru,"28 нояб, 2017",/bank/primore/otzyv/258481/?page,1,NaN,NaN
23807,/bank/inkarobank/,"Александр,",Отказали в пополнении вкладаСегодняСегодня (10...,инкаробанк,https://www.sravni.ru,"10 мая, 2018",/bank/inkarobank/otzyv/289290/?page,3,NaN,NaN
23808,/bank/razvitie-stolica/,"Uliana,",Вернули мне мою квартиру!Взыскивали квартиру п...,банк развитие-столица,https://www.sravni.ru,"04 февр, 2019",/bank/razvitie-stolica/otzyv/312081/?page,5,NaN,NaN
23809,/bank/rosavtobank/,"Дарья,",Решила открыть небольшой вклад в рублях и пути...,росавтобанк,https://www.sravni.ru,"19 окт, 2015",/bank/rosavtobank/otzyv/178558/?page,5,NaN,NaN

In [3]:
df = df[['review', 'score']]
df

                                                  review score
0      Брал кредит в данной организации, после погаше...   NaN
1      В 2011 году,мною была оформлена мега карта в Т...   NaN
2      С родителями увидели рекламу вклада Осеннее пр...   NaN
3      Связать три года своей жизни с этим непорядочн...   NaN
4      Пользуюсь месяц карточкой Card Plus, сегодня п...   NaN
...                                                  ...   ...
23805  Работа касс отвратительнаяПри наличии большой ...     1
23806  Проблемы с переводом за границу.Решил приобрес...     1
23807  Отказали в пополнении вкладаСегодняСегодня (10...     3
23808  Вернули мне мою квартиру!Взыскивали квартиру п...     5
23809  Решила открыть небольшой вклад в рублях и пути...     5

[23810 rows x 2 columns]

In [4]:
df=df.reset_index(drop=True)
df

                                                  review score
0      Брал кредит в данной организации, после погаше...   NaN
1      В 2011 году,мною была оформлена мега карта в Т...   NaN
2      С родителями увидели рекламу вклада Осеннее пр...   NaN
3      Связать три года своей жизни с этим непорядочн...   NaN
4      Пользуюсь месяц карточкой Card Plus, сегодня п...   NaN
...                                                  ...   ...
23805  Работа касс отвратительнаяПри наличии большой ...     1
23806  Проблемы с переводом за границу.Решил приобрес...     1
23807  Отказали в пополнении вкладаСегодняСегодня (10...     3
23808  Вернули мне мою квартиру!Взыскивали квартиру п...     5
23809  Решила открыть небольшой вклад в рублях и пути...     5

[23810 rows x 2 columns]

In [5]:
df['score']=pd.to_numeric(df['score'], errors='coerce').fillna(0).astype(int)

In [6]:
df[df['score'].isna()].count()

review    0
score     0
dtype: int64

In [7]:
df['review'][0]

'Брал кредит в данной организации, после погашения всех выплат стали звонить мне на телефон и говорить, что не было последней оплаты кредита, звонят как на мобильный, так и на домашний, вымогают деньги, хотя по документам и чекам у меня есть все оплаты.\n\nРанее за два месяца стали мне звонить и предлагать сделать на оставшуюся сумму мне рефенансирование, когда я отказался, тогда это всё и началось.\n\nНасчитали мне долг 27000, и как будто у меня не было последней оплаты, хотя на руках чек\xa0\xa0и все документы.\n\nКрайне не рекомендую ходить в это грязное заведение, где вы оставите львиную долю своих нервов и попадете на проценты, высосаные из пальцев сотрудников банка и их руководителей.\n\nПридется писать заявление в прокуратуру.Брал кредит в данной организации, после погашения всех выплат стали звонить мне на телефон и говорить, что не было последней оплаты кредита, звонят как на мобильный, так и на домашний, вымогают деньги, хотя по документам и чекам у меня есть все оплаты.\n\nРанее за два месяца стали мне звонить и предлагать сделать на оставшуюся сумму мне рефенансирование, когда я отказался, тогда это всё и началось.\n\nНасчитали мне долг 27000, и как будто у меня не было последней оплаты, хотя на руках чек\xa0\xa0и все документы.\n\nКрайне не рекомендую ходить в это грязное заведение, где вы оставите львиную долю своих нервов и попадете на проценты, высосаные из пальцев сотрудников банка и их руководителей.\n\nПридется писать заявление в прокуратуру.'

In [8]:
def splittext(t):
    split = -((-len(t))//2)
    if t[:split] == t[split:]:
        return t[:split]
    else:
        return t

In [9]:
df['review'] = [splittext(x) for x in df['review']]

In [10]:
df['review'][0]

'Брал кредит в данной организации, после погашения всех выплат стали звонить мне на телефон и говорить, что не было последней оплаты кредита, звонят как на мобильный, так и на домашний, вымогают деньги, хотя по документам и чекам у меня есть все оплаты.\n\nРанее за два месяца стали мне звонить и предлагать сделать на оставшуюся сумму мне рефенансирование, когда я отказался, тогда это всё и началось.\n\nНасчитали мне долг 27000, и как будто у меня не было последней оплаты, хотя на руках чек\xa0\xa0и все документы.\n\nКрайне не рекомендую ходить в это грязное заведение, где вы оставите львиную долю своих нервов и попадете на проценты, высосаные из пальцев сотрудников банка и их руководителей.\n\nПридется писать заявление в прокуратуру.'

In [11]:
_digits = re.compile('\d')
def contains_digits(d):
    return bool(_digits.search(d))

In [12]:
import re

regex = re.compile('[^а-яА-Я]')

In [13]:
import nltk
import string
import pymorphy2
from itertools import groupby
from nltk.corpus import stopwords

morph = pymorphy2.MorphAnalyzer()

def tokenize_me(file_text):
    #firstly let's apply nltk tokenization
    tokens = nltk.word_tokenize(file_text)
 
    #let's delete punctuation symbols and numbers
    tokens = [i.lower() for i in tokens]
    tokens = [i for i in tokens if ( i not in string.punctuation )]
    tokens = [i for i in tokens if ( i[0] not in string.punctuation )]
    tokens = [i for i in tokens if ( i[0] not in string.digits )]
    tokens = [i for i in tokens if not contains_digits(i)]
    tokens = [regex.sub('', i) for i in tokens]
 
    #deleting stop_words
    stop_words = stopwords.words('russian')
    stop_words.extend(['что', 'это', 'так', 'вот', 'быть', 'как', 'в', '—', 'к', 'на', 'т.к.', 'т.к'])
    tokens = [i for i in tokens if ( i not in stop_words )]
    tokens = [i for i in tokens if ( len(i) > 1 )]
    tokens = [i for i in tokens if i[-1] != '.']
 
    #cleaning words
    tokens = [i.replace("«", "").replace("»", "") for i in tokens]
    
    #removing doubles
    tokens = [el for el, _ in groupby(tokens)]
    
    tokens = [i for i in tokens if ( i not in string.punctuation )]
    
    tokens =[morph.parse(i)[0].normal_form for i in tokens]
    
#     tokens = tag_mystem(str(tokens))
 
    return tokens

In [14]:
def spaces(x):
    tmp = list(x)
#     print(tmp)
    for i in range(len(tmp)):
#         print(tmp[i])
        if tmp[i].isupper() and tmp[i-1] != ' ' and i != 0:
            tmp.insert(i, ' ')
    tmp2 = ''
#     print(tmp)
    x = tmp2.join(tmp)
    return x

In [274]:
stroka = 'МамаМыла раму'
stroka = spaces(stroka)
stroka

'Мама Мыла раму'

In [15]:
df['review'] = df['review'].apply(lambda x: spaces(x))

In [16]:
df = df[df['score'] != 0]
df['sentiment'] = np.where(df['score'] > 3, 1, 0)
df = df.reset_index(drop=True)
del df['index']
df

<ipython-input-16-04f728202b56>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentiment'] = np.where(df['score'] > 3, 1, 0)

KeyError: 'index'

In [17]:
df.groupby(by='sentiment').count()

           review  score
sentiment
0           12289  12289
1            4291   4291

In [343]:
12289-4291

7998

In [18]:
to_remove = np.random.choice(df[df['sentiment']==0].index,size=7998,replace=False)
df = df.drop(to_remove)

In [19]:
df.groupby(by='sentiment').count()

           review  score
sentiment
0            4291   4291
1            4291   4291

In [20]:
df = df.reset_index(drop=True)
df

                                                 review  score  sentiment
0     \n\t\t Сама клиентом банка не являюсь ( Слава ...      1          0
1     \n\t\t Банк не захотел погашать кредит по граф...      1          0
2     \n\t\t Не являлся, не являются и не буду являт...      1          0
3     \n\t\t Недавно заехал в отделение Измайловское...      5          1
4     \n\t\t Всегда безупречное обслуживание, приятн...      5          1
...                                                 ...    ...        ...
8577  Благодарностьхочу выразить благодарность банку...      5          1
8578  Проблемы с переводом за границу. Решил приобре...      1          0
8579  Отказали в пополнении вклада Сегодня Сегодня (...      3          0
8580  Вернули мне мою квартиру! Взыскивали квартиру ...      5          1
8581  Решила открыть небольшой вклад в рублях и пути...      5          1

[8582 rows x 3 columns]

In [22]:
from tqdm import tqdm
tqdm.pandas()

D:\anaconda\lib\site-packages\tqdm\std.py:668: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [23]:
df['tokens'] = df['review'].progress_apply(lambda x: tokenize_me(x))
df

100%|██████████████████████████████████████████████████████████████████████████████| 8582/8582 [07:53<00:00, 18.11it/s]

,review,score,sentiment,tokens
0,\n\t\t Сама клиентом банка не являюсь ( Слава ...,1,0,"[сам, клиент, банк, являться, слава, бог, обра..."
1,\n\t\t Банк не захотел погашать кредит по граф...,1,0,"[банк, захотеть, погашать, кредит, график, пла..."
2,"\n\t\t Не являлся, не являются и не буду являт...",1,0,"[являться, являться, быть, являться, клиент, н..."
3,\n\t\t Недавно заехал в отделение Измайловское...,5,1,"[недавно, заехать, отделение, измайловский, ну..."
4,"\n\t\t Всегда безупречное обслуживание, приятн...",5,1,"[безупречный, обслуживание, приятно, взаимодей..."
...,...,...,...,...
8577,Благодарностьхочу выразить благодарность банку...,5,1,"[благодарностьхотать, выразить, благодарность,..."
8578,Проблемы с переводом за границу. Решил приобре...,1,0,"[проблема, перевод, граница, решить, приобрест..."
8579,Отказали в пополнении вклада Сегодня Сегодня (...,3,0,"[отказать, пополнение, вклад, сегодня, хотеть,..."
8580,Вернули мне мою квартиру! Взыскивали квартиру ...,5,1,"[вернуть, мой, квартира, взыскивать, квартира,..."
8581,Решила открыть небольшой вклад в рублях и пути...,5,1,"[решить, открыть, небольшой, вклад, рубль, пут..."

In [24]:
import requests
import re

url = 'https://raw.githubusercontent.com/akutuzov/universal-pos-tags/4653e8a9154e93fe2f417c7fdb7a357b7d6ce333/ru-rnc.map'

mapping = {}
r = requests.get(url, stream=True)
for pair in r.text.split('\n'):
    pair = re.sub('\s+', ' ', pair, flags=re.U).split(' ')
    if len(pair) > 1:
        mapping[pair[0]] = pair[1]


mapping['P'] = mapping.pop('PR')
print(mapping)

{'A': 'ADJ', 'ADV': 'ADV', 'ADVPRO': 'ADV', 'ANUM': 'ADJ', 'APRO': 'DET', 'COM': 'ADJ', 'CONJ': 'SCONJ', 'INTJ': 'INTJ', 'NONLEX': 'X', 'NUM': 'NUM', 'PART': 'PART', 'S': 'NOUN', 'SPRO': 'PRON', 'UNKN': 'X', 'V': 'VERB', 'P': 'ADP'}

In [25]:
df['tokens'][2856]

['добрый',
 'день',
 'хотеть',
 'выразить',
 'огромный',
 'благодарность',
 'аксютина',
 'елизавета',
 'тверской',
 'отделение',
 'сбербанк',
 'спасибо',
 'огромный',
 'ваш',
 'труд',
 'ипрофессионализм',
 'оформлять',
 'ипотека',
 'елизавета',
 'помогать',
 'мы',
 'вопрос',
 'консультировать',
 'каждый',
 'наш',
 'обращение',
 'первый',
 'звонок',
 'очень',
 'довольнынашим',
 'менеджер',
 'сотрудник',
 'очень',
 'компетентный',
 'отзывчивый',
 'большой',
 'бытакий',
 'специалист',
 'знающий',
 'сво',
 'дело',
 'спасибо',
 'елизавета',
 'ваш',
 'труд',
 'помощь',
 'ваш',
 'способность',
 'наш',
 'семья',
 'очень',
 'благодарный']

In [26]:
str1 = ' '
str1.join(df['tokens'][2856])

'добрый день хотеть выразить огромный благодарность аксютина елизавета тверской отделение сбербанк спасибо огромный ваш труд ипрофессионализм оформлять ипотека елизавета помогать мы вопрос консультировать каждый наш обращение первый звонок очень довольнынашим менеджер сотрудник очень компетентный отзывчивый большой бытакий специалист знающий сво дело спасибо елизавета ваш труд помощь ваш способность наш семья очень благодарный'

In [27]:
import nltk
from nltk.tokenize import word_tokenize
def tag(data):
    res = []
    for word in data: 
        out = nltk.pos_tag([word], lang='rus')
#         print(out[0][0], end='\t')
#         print(out[0][1][0])
        pos = str(out[0][1][0])
        if pos in mapping:
            res.append(str(out[0][0]) + '_' + mapping[pos])
    return res

In [28]:
df['tokens']

0       [сам, клиент, банк, являться, слава, бог, обра...
1       [банк, захотеть, погашать, кредит, график, пла...
2       [являться, являться, быть, являться, клиент, н...
3       [недавно, заехать, отделение, измайловский, ну...
4       [безупречный, обслуживание, приятно, взаимодей...
                              ...
8577    [благодарностьхотать, выразить, благодарность,...
8578    [проблема, перевод, граница, решить, приобрест...
8579    [отказать, пополнение, вклад, сегодня, хотеть,...
8580    [вернуть, мой, квартира, взыскивать, квартира,...
8581    [решить, открыть, небольшой, вклад, рубль, пут...
Name: tokens, Length: 8582, dtype: object

In [29]:
df['tokens'] = df['tokens'].progress_apply(lambda x: tag(data=x))

100%|██████████████████████████████████████████████████████████████████████████████| 8582/8582 [05:59<00:00, 23.84it/s]

In [30]:
import gensim.downloader
ruscorpora = gensim.downloader.load('word2vec-ruscorpora-300')

In [142]:
def clean(lst):
    for item in lst:
        try:
            ruscorpora.get_vector(item)
        except KeyError:
            pass
        else:
            yield ruscorpora.get_vector(item)

cleaned_list = clean(df['tokens'][3])
len(list(cleaned_list))

35

In [32]:
df['vecs'] = df['tokens'].progress_apply(lambda x: list(clean(x)))

100%|████████████████████████████████████████████████████████████████████████████| 8582/8582 [00:01<00:00, 7574.53it/s]

In [33]:
df['vec_len'] = df['vecs'].apply(lambda x: len(x))

In [34]:
df

,review,score,sentiment,tokens,vecs,vec_len
0,\n\t\t Сама клиентом банка не являюсь ( Слава ...,1,0,"[сам_ADJ, клиент_NOUN, банк_NOUN, являться_VER...","[[0.033481065, -0.03733594, 0.0079718, -0.0843...",35
1,\n\t\t Банк не захотел погашать кредит по граф...,1,0,"[банк_NOUN, захотеть_VERB, погашать_VERB, кред...","[[0.01879481, 0.0004580109, -0.07315521, -0.03...",110
2,"\n\t\t Не являлся, не являются и не буду являт...",1,0,"[являться_VERB, являться_VERB, быть_VERB, явля...","[[-0.058114763, -0.011728319, 0.004258351, 0.0...",43
3,\n\t\t Недавно заехал в отделение Измайловское...,5,1,"[недавно_ADJ, заехать_VERB, отделение_NOUN, из...","[[0.11404666, -0.0123066455, 0.011621393, 0.00...",35
4,"\n\t\t Всегда безупречное обслуживание, приятн...",5,1,"[безупречный_ADJ, обслуживание_NOUN, приятно_A...","[[-0.00014390046, -0.02413276, -0.07803641, 0....",26
...,...,...,...,...,...,...
8577,Благодарностьхочу выразить благодарность банку...,5,1,"[благодарностьхотать_VERB, выразить_VERB, благ...","[[0.1457346, -0.091823526, -0.052429546, -0.01...",19
8578,Проблемы с переводом за границу. Решил приобре...,1,0,"[проблема_NOUN, перевод_NOUN, граница_NOUN, ре...","[[-0.04735034, -0.049576934, -0.0570013, 0.010...",143
8579,Отказали в пополнении вклада Сегодня Сегодня (...,3,0,"[отказать_VERB, пополнение_NOUN, вклад_NOUN, с...","[[0.08280478, -0.1267904, 0.03399948, 0.002647...",19
8580,Вернули мне мою квартиру! Взыскивали квартиру ...,5,1,"[вернуть_VERB, мой_ADJ, квартира_NOUN, взыскив...","[[0.02731199, 0.10514573, -0.050458133, 0.0066...",16
8581,Решила открыть небольшой вклад в рублях и пути...,5,1,"[решить_VERB, открыть_VERB, небольшой_ADJ, вкл...","[[0.06041052, -0.013378478, 0.0834815, 0.08849...",59

In [41]:
data = df[['sentiment', 'vecs']]
data

      sentiment                                               vecs
0             0  [[0.033481065, -0.03733594, 0.0079718, -0.0843...
1             0  [[0.01879481, 0.0004580109, -0.07315521, -0.03...
2             0  [[-0.058114763, -0.011728319, 0.004258351, 0.0...
3             1  [[0.11404666, -0.0123066455, 0.011621393, 0.00...
4             1  [[-0.00014390046, -0.02413276, -0.07803641, 0....
...         ...                                                ...
8577          1  [[0.1457346, -0.091823526, -0.052429546, -0.01...
8578          0  [[-0.04735034, -0.049576934, -0.0570013, 0.010...
8579          0  [[0.08280478, -0.1267904, 0.03399948, 0.002647...
8580          1  [[0.02731199, 0.10514573, -0.050458133, 0.0066...
8581          1  [[0.06041052, -0.013378478, 0.0834815, 0.08849...

[8582 rows x 2 columns]

In [35]:
from __future__ import absolute_import, division, print_function, unicode_literals

try:
  %tensorflow_version 2.x
except Exception:
  pass

In [36]:
def get_max_length(df):
    """
    get max token counts from train data, 
    so we use this number as fixed length input to RNN cell
    """
    max_length = 0
    for row in df['vecs']:
        if len(row) > max_length:
            max_length = len(row)
    return max_length

In [37]:
max_length = get_max_length(df)
max_length

557

In [38]:
def sentiment_encode(sentiment):
    """
    return one hot encoding for Y value
    """
    if sentiment == 1:
        return [1,0]
    else:
        return [0,1]

In [39]:
def get_padded_encoded_reviews(encoded_reviews):
    """
    for short sentences, we prepend zero padding so all input to RNN has same length
    """
    padded_reviews_encoding = []
    for enc_review in encoded_reviews:
        zero_padding_cnt = max_length - enc_review.shape[0]
        pad = np.zeros((1, 300))
        for i in range(zero_padding_cnt):
            enc_review = np.concatenate((pad, enc_review), axis=0)
        padded_reviews_encoding.append(enc_review)
    return padded_reviews_encoding

In [42]:
np.array(data['vecs'].values).shape

(8582,)

In [46]:
X = data['vecs']

In [50]:
type(X[0][0][0])

numpy.float32

In [54]:
from keras.preprocessing.sequence import pad_sequences
X = data['vecs']
X = pad_sequences(X, dtype='float32', maxlen=max_length)
print('Shape of data tensor:', X.shape)

Shape of data tensor: (8582, 557, 300)

In [56]:
sentiments = df['sentiment'].tolist()
encoded_sentiment = [sentiment_encode(sentiment) for sentiment in sentiments]
Y = np.array(encoded_sentiment)
print('Shape of data tensor:', Y.shape)

Shape of data tensor: (8582, 2)

In [58]:
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split
from keras.layers import Dropout
from keras.callbacks import EarlyStopping

In [59]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.10, random_state = 42)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(7723, 557, 300) (7723, 2)
(859, 557, 300) (859, 2)

In [60]:
X_train.shape

(7723, 557, 300)

In [61]:
X_train

array([[[ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        ...,
        [ 0.01879481,  0.00045801, -0.07315521, ..., -0.02883766,
          0.00159956,  0.04203274],
        [-0.0093598 , -0.05110545,  0.1248969 , ...,  0.01792698,
          0.01748218, -0.08008909],
        [ 0.12127963, -0.00756038,  0.01519753, ...,  0.08081351,
         -0.07462595, -0.04666181]],

       [[ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        ...,
        [-0.01580269,  0.03877226, -0.04708369, ...,  0.07085106,
         -0.03844939, -0.03883601],
        [-0.03377281, -0.0021913 ,  0.06140104, ...,  0.05080102,
          0.04131043,  0.09041169],
        [ 0.0063981 , -0.04771655, -0.02800628, ...,  0.00024982,
          0.0071262 , -0.02201472]],

       [[ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        ...,
        [ 0.09115685,  0.03054686,  0.02122033, ..., -0.04257265,
          0.04818691,  0.01294634],
        [ 0.06827005, -0.01737011, -0.00769442, ...,  0.02812453,
          0.01006855,  0.00420999],
        [ 0.04150061, -0.02103976, -0.00480212, ...,  0.11235984,
         -0.03682063,  0.0274784 ]],

       ...,

       [[ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        ...,
        [ 0.01879481,  0.00045801, -0.07315521, ..., -0.02883766,
          0.00159956,  0.04203274],
        [ 0.0367468 ,  0.02055964,  0.05956092, ...,  0.05199113,
         -0.0213161 , -0.04769327],
        [-0.02274102, -0.04392707, -0.02117318, ...,  0.09235595,
         -0.09287401, -0.04715481]],

       [[ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        ...,
        [-0.03099334,  0.00615665, -0.02387994, ...,  0.02400837,
         -0.11200626,  0.01644111],
        [ 0.1761722 ,  0.08912348, -0.06125892, ..., -0.03646013,
         -0.10852128, -0.05581944],
        [ 0.01879481,  0.00045801, -0.07315521, ..., -0.02883766,
          0.00159956,  0.04203274]],

       [[ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        ...,
        [-0.05588051,  0.03914362, -0.01163811, ...,  0.13620421,
          0.00505545, -0.00981619],
        [ 0.02314058,  0.13440934, -0.06119711, ..., -0.00615534,
         -0.03015994, -0.09093997],
        [ 0.09150318, -0.05159178,  0.01258405, ...,  0.00875092,
         -0.04000087, -0.10271084]]], dtype=float32)

In [62]:
model = Sequential()
# model.add(Embedding(577, 100, input_length=X.shape[1]))
# model.add(SpatialDropout1D(0.2))
model.add(LSTM(100, return_sequences=False))
# model.add(Dropout(0.2))
model.add(Dense(2, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
# print(model.summary())

In [64]:
model.fit(X_train, Y_train,epochs=15)

Epoch 1/15
242/242 [==============================] - 56s 230ms/step - loss: 0.4118 - accuracy: 0.8230
Epoch 2/15
242/242 [==============================] - 57s 234ms/step - loss: 0.3206 - accuracy: 0.8629
Epoch 3/15
242/242 [==============================] - 54s 223ms/step - loss: 0.2865 - accuracy: 0.8828
Epoch 4/15
242/242 [==============================] - 54s 223ms/step - loss: 0.2942 - accuracy: 0.8795
Epoch 5/15
242/242 [==============================] - 55s 226ms/step - loss: 0.2570 - accuracy: 0.8994
Epoch 6/15
242/242 [==============================] - 55s 226ms/step - loss: 0.2574 - accuracy: 0.8968
Epoch 7/15
242/242 [==============================] - 54s 224ms/step - loss: 0.2435 - accuracy: 0.9025
Epoch 8/15
242/242 [==============================] - 55s 226ms/step - loss: 0.2348 - accuracy: 0.9050
Epoch 9/15
242/242 [==============================] - 56s 233ms/step - loss: 0.2199 - accuracy: 0.9153
Epoch 10/15
242/242 [==============================] - 54s 224ms/step - loss: 0.2176 - accuracy: 0.9136
Epoch 11/15
242/242 [==============================] - 55s 226ms/step - loss: 0.2043 - accuracy: 0.9204
Epoch 12/15
242/242 [==============================] - 54s 222ms/step - loss: 0.1917 - accuracy: 0.9292
Epoch 13/15
242/242 [==============================] - 54s 224ms/step - loss: 0.1847 - accuracy: 0.9293
Epoch 14/15
242/242 [==============================] - 54s 223ms/step - loss: 0.1729 - accuracy: 0.9338
Epoch 15/15
242/242 [==============================] - 55s 225ms/step - loss: 0.1668 - accuracy: 0.9369

In [65]:
accr = model.evaluate(X_test,Y_test)
print('Test set\n  Loss: {:0.3f}\n  Accuracy: {:0.3f}'.format(accr[0],accr[1]))

27/27 [==============================] - 2s 79ms/step - loss: 0.3465 - accuracy: 0.8696
Test set
  Loss: 0.346
  Accuracy: 0.870

In [150]:
def test_text(text):
    tokens = [tokenize_me(t) for t in text]
#     print(tokens)
    tokens = [tag(i) for i in tokens]
#     print(tokens)
    vecs = [list(clean(i)) for i in tokens]
#     print(vecs)
#     print(np.array(vecs).shape)
    padded = pad_sequences(vecs, dtype='float32', maxlen=max_length)
    print(padded.shape)
    return np.array(padded)

In [151]:
text = test_text(['Этот банк очень хорош'])
text

(1, 557, 300)

array([[[ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        ...,
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.01879481,  0.00045801, -0.07315521, ..., -0.02883766,
          0.00159956,  0.04203274],
        [ 0.08459666,  0.02701921,  0.02729217, ...,  0.10459866,
          0.01088273,  0.00445716]]], dtype=float32)

In [152]:
pred = model.predict(text)

In [157]:
if pred[0][0] > pred[0][1]:
    print("Negative review")
else:
    print("Positive review")

Positive review

In [160]:
datafr = pd.read_csv('financial_review.csv', sep=',')
datafr

,bank_href,login,review,bank_name,site,date,message_href,score,status,user_href
0,/kredit-evropa-bank.html,NaN,"Брал кредит в данной организации, после погаше...",кредит европа банк,http://bankireview.ru,NaN,NaN,NaN,NaN,NaN
1,/kredit-evropa-bank.html,NaN,"В 2011 году,мною была оформлена мега карта в Т...",кредит европа банк,http://bankireview.ru,NaN,NaN,NaN,NaN,NaN
2,/kredit-evropa-bank.html,NaN,С родителями увидели рекламу вклада Осеннее пр...,кредит европа банк,http://bankireview.ru,NaN,NaN,NaN,NaN,NaN
3,/kredit-evropa-bank.html,NaN,Связать три года своей жизни с этим непорядочн...,кредит европа банк,http://bankireview.ru,NaN,NaN,NaN,NaN,NaN
4,/kredit-evropa-bank.html,NaN,"Пользуюсь месяц карточкой Card Plus, сегодня п...",кредит европа банк,http://bankireview.ru,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
23805,/bank/bank-chbrr/,"Василий,",Работа касс отвратительнаяПри наличии большой ...,банк чбрр,https://www.sravni.ru,"18 дек, 2018",/bank/bank-chbrr/otzyv/305639/?page,1,NaN,NaN
23806,/bank/primore/,"Дмитрий,",Проблемы с переводом за границу.Решил приобрес...,банк приморье,https://www.sravni.ru,"28 нояб, 2017",/bank/primore/otzyv/258481/?page,1,NaN,NaN
23807,/bank/inkarobank/,"Александр,",Отказали в пополнении вкладаСегодняСегодня (10...,инкаробанк,https://www.sravni.ru,"10 мая, 2018",/bank/inkarobank/otzyv/289290/?page,3,NaN,NaN
23808,/bank/razvitie-stolica/,"Uliana,",Вернули мне мою квартиру!Взыскивали квартиру п...,банк развитие-столица,https://www.sravni.ru,"04 февр, 2019",/bank/razvitie-stolica/otzyv/312081/?page,5,NaN,NaN
23809,/bank/rosavtobank/,"Дарья,",Решила открыть небольшой вклад в рублях и пути...,росавтобанк,https://www.sravni.ru,"19 окт, 2015",/bank/rosavtobank/otzyv/178558/?page,5,NaN,NaN

In [161]:
text2 = test_text(datafr['review'])

MemoryError: Unable to allocate 14.8 GiB for an array with shape (23810, 557, 300) and data type float32

In [ ]:
model = Sequential()
model.add(LSTM(100, return_sequences=False))
model.add(Dense(2, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])